<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>

    <style>
      .hn-table-xsmall td { padding: 3px 12px }
      .hn-text-xsmall { font-size: 0.75em !important }
      .story a { text-decoration: none; }
      table a:visited { color: #999 }

      article { overflow-wrap: break-word }
      article p { margin-top: 20px }

      .uk-comment-list .uk-comment~ul {
        padding-left: 25px;
        margin : 0
      }

      .uk-comment-list li {
        border-left: 3px solid #DDD;
        padding-left: 8px;
        margin-top: 5px;
      }

      .uk-comment-list li:hover { border-left: 3px solid #0f6ecd }

      .uk-comment-list .uk-comment~ul>:nth-child(n+2) { margin-top: 20px }

      .uk-accordion-content { margin-top: 10px }

      @media (prefers-color-scheme: light) {
        html { color: #000 }
        a { color: #0d0d0d; }
      }

      @media (prefers-color-scheme: dark) {
        html { background-color: rgb(34, 34, 34) }
      }
    </style>
  </head>
  <body>
    <div class="uk-container uk-container-small uk-margin-bottom">
      <h1 class="uk-heading-divider uk-margin-top uk-text-center">
        <a href="/">HackiNews</a>
      </h1>

      <%= yield %>

      <!-- Enable dark mode -->
      <script>
        function toggleDarkMode() {
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            document.body.classList.add('uk-light')
          } else {
            document.body.classList.remove('uk-light')
          }
        }

        toggleDarkMode()

        setInterval(toggleDarkMode, 500)
      </script>

      <% if ENV['GA_TRACKING_ID'] %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_TRACKING_ID'] %>"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag () { dataLayer.push(arguments); }
          gtag('js', new Date());

          gtag('config', '<%= ENV['GA_TRACKING_ID'] %>');
        </script>
      <% end %>
    </div>
  </body>
</html>
